[submodule "external/Capstone.NET"]
	path = external/Capstone.NET
	url = https://github.com/smx-smx/Capstone.NET.git
[submodule "external/capstone"]
	path = external/capstone
	url = https://github.com/smx-smx/capstone.git
